<app-header></app-header>

<main>

  <section class="shop-container">

    <aside class="breadcrumb-container">
      <nav class="breadcrumb">
        <span>Home</span>
        <span>/</span>
        <span>Collection</span>
        <span>/</span>
        <span>Bread & Bakery</span>
      </nav>
    </aside>

    <div class="section-heading">
      <h1 class="h2">Bread &amp; Bakery</h1>
    </div>

    <aside class="controls-container text-size-regular">
      <div class="controls">
        <div class="filters">
          <span>Filter:</span>
        </div>
        <div class="sort">
          <span>Sort by:</span>
        </div>
      </div>
      <div class="small-heading text-opacity">
        <span>6 Products</span>
      </div>
    </aside>


    <div class="product-cards-list">

      @for (product of products; track product._id) {
        <app-product-card [product]="product"></app-product-card>
      }

    </div>

  </section>

  <app-info-cards></app-info-cards>

</main>

<app-footer></app-footer>
