<section class="info-card-container">
  <div class="info-card">
    <a href="">
      <img src="assets/img/paper-bag.webp" alt="Product image">
    </a>
    <div class="card-text">
      <div>
        <a class="link " href="#">
          <h3 class="h5 link-animation">Local Pickup</h3>
        </a>
      </div>
      <div>
        <span class="text-size-small">Get orders faster while avoiding shipping fees</span>
      </div>
    </div>
  </div>
  <div class="info-card">
    <a href="">
      <img src="assets/img/paper-boxes.webp" alt="Product image">
    </a>
    <div class="card-text">
      <div>
        <a class="link " href="#">
          <h3 class="h5 link-animation">Local Pickup</h3>
        </a>
      </div>
      <div>
        <span class="text-size-small">Get orders faster while avoiding shipping fees</span>
      </div>
    </div>
  </div>
  <div class="info-card">
    <a href="">
      <img src="assets/img/leaves.webp" alt="Product image">
    </a>
    <div class="card-text">
      <div>
        <a class="link " href="#">
          <h3 class="h5 link-animation">Local Pickup</h3>
        </a>
      </div>
      <div>
        <span class="text-size-small">Get orders faster while avoiding shipping fees</span>
      </div>
    </div>
  </div>
  <div class="info-card">
    <a href="">
      <img src="assets/img/coconut.webp" alt="Product image">
    </a>
    <div class="card-text">
      <div>
        <a class="link " href="#">
          <h3 class="h5 link-animation">Local Pickup</h3>
        </a>
      </div>
      <div>
        <span class="text-size-small">Get orders faster while avoiding shipping fees</span>
      </div>
    </div>
  </div>
</section>
