<app-header></app-header>

<main>


  <section class="about-us-title">
    <aside class="breadcrumb-container">
      <nav class="breadcrumb">
        <span>Home</span>
        <span>/</span>
        <span>About Us</span>
      </nav>
    </aside>
    <h1 class="title h2">About Us</h1>
  </section>

  <div class="separator-line"></div>

  <section class="about-us-textblock gutter-top-xlarge gutter-bottom-xlarge">
    <div>
      <h3>Many agribusinesses and food processors source raw materials from smallholder farmers.
        This is particularly true in certain sectors, such as coffee, cocoa and sugar.</h3>
      <p class="text-size-regular">Over the past 20 years there has been a shift towards more traceable supply chains. Rather than
        purchasing crops that have passed through several layers of collectors, firms are now sourcing directly
        from farmers or trusted aggregators. The drivers for this change include concerns about food safety,
        child labor and environmental sustainability as well as a desire to increase productivity.</p>
      <p class="text-size-regular">With the increasing globalization and easier access to different kinds of alternative products in today's
        markets, the importance of product design to generating demand is more significant than ever. In addition,
        as supply, and therefore competition, among companies for the limited market demand increases and as
        pricing and other marketing elements become less distinguishing factors, product design likewise plays
        a different role by providing attractive features to generate demand. In this context, demand generation
        is used to define how attractive a product design is in terms of creating demand. In other words, it is
        the ability of a product's design to generate demand by satisfying customer expectations.</p>
    </div>
  </section>

  <div class="separator-line"></div>

  <section class="about-us-photoblock">
    <div class="text-part">
      <div class="wrapper">
        <h2 class="h2">Local Resources</h2>
        <p class="text-size-regular">We aim to connect food producers and consumers in the same geographic
          region, to develop more  self-reliant and resilient food networks; improve local economies; or
          to affect the health, environment, community, or society of a particular place.</p>
        <div>
          <a class="button button-solid button-regular" href="#">Learn more</a>
        </div>
      </div>
    </div>
    <div class="photo-part">
      <img src="assets/img/leaves-large.webp" alt="A lot of leaves">
    </div>
  </section>

  <div class="separator-line"></div>

  <section class="about-us-photoblock">
    <div class="photo-part">
      <img src="assets/img/wood-large.webp" alt="A lot of leaves">
    </div>
    <div class="text-part-right">
      <div class="wrapper">
        <h2 class="h2">Sustainable</h2>
        <p class="text-size-regular">Societal goal with three dimensions: the environmental, economic and
          social dimension. This concept can be used to guide decisions at the global, national and at the
          individual consumer level. A related concept is that of sustainable development. Both terms are
          often used synonymously.</p>
        <div>
          <a class="button button-solid button-regular" href="#">Learn more</a>
        </div>
      </div>
    </div>
  </section>

  <div class="separator-line"></div>

  <app-info-cards></app-info-cards>

</main>

<app-footer></app-footer>
