<app-header></app-header>

<main>

  <section class="cart-container">

    <aside class="breadcrumb-container">
      <nav class="breadcrumb">
        <span>Home</span>
        <span>/</span>
        <span>Cart</span>
      </nav>
    </aside>

    <div class="section-heading">
      <h1 class="h2">Shopping Cart</h1>
    </div>

    <div class="cart text-size-regular" id="cart">

      <form>
        <div class="cart-block text-size-regular">
          <div class="cart-block-head">
            <span class="product">Product</span>
            <span></span>
            <span>Quantity</span>
            <span class="text-align-right">Total</span>
          </div>

          @for (item of cart; track item.product._id) {
            <app-product-card-cart [item]="item"></app-product-card-cart>
          }

        </div>
      </form>

      <div class="total">
        <div class="details">
          <div class="cart-total">
            <span>Total</span>
            <span class="h2">${{ this.cartService.getCartTotal() }}</span>
          </div>
          <div class="cart-instructions">
            <label for="cart-instructions">Order instructions</label>
            <textarea name="cart-instructions" id="cart-instructions" cols="30" rows="10"></textarea>
          </div>
          <div>
            <span class="text-size-small text-opacity tax-info">Tax included and shipping calculated at checkout</span>
          </div>
          <div>
            <a class="button button-regular button-solid checkout-button">Check Out</a>
          </div>
        </div>
      </div>

    </div>

  </section>

</main>

<app-footer></app-footer>
