<app-header></app-header>

<main>

  <section class="product-container">

    <aside class="breadcrumb-container">
      <nav class="breadcrumb">
        <span>Home</span>
        <span>/</span>
        <span>All products</span>
        <span>/</span>
        <span>Paprika</span>
      </nav>
    </aside>

    @if (product) {

      <div class="product">

        <div class="product-gallery">

          <div class="product-image">
            <img #productMainImage [src]="product.images[0]" alt="Product image">
          </div>

          <div class="product-gallery-thumbnails">

            @for (image of product.images; track product._id) {
              <button class="thumbnail element-border-radius active" data-index="0" tabindex="0" (click)="onClickThumbnail(image)">
                <img [src]="image" [alt]="product.title">
              </button>
            }

          </div>
        </div>

        <div class="product-text">

          <div class="price-top text-size-xlarge">
            <span>${{ product.price.current }}</span>

            @if (product.price.current != product.price.beforeDiscount) {
              <span style="text-decoration: line-through; opacity: 0.4;">${{ product.price.beforeDiscount }}</span>
            }

          </div>

          <div class="product-title">
            <h1 class="h2">{{ product.title }}</h1>
          </div>

          <div class="stars-and-reviews">
                    <span>
                        <img src="assets/svg/rating-star.svg" alt="Rating star">
                        <img src="assets/svg/rating-star.svg" alt="Rating star">
                        <img src="assets/svg/rating-star.svg" alt="Rating star">
                        <img src="assets/svg/rating-star.svg" alt="Rating star">
                        <img src="assets/svg/rating-star.svg" alt="Rating star">
                    </span>
            <span class="text-size-xsmall text-opacity">No reviews</span>
          </div>

          <div class="product-subtitle text-size-regular">
            <span>{{ product.title }}</span>
          </div>

          <div class="product-description text-size-regular">
            <span>{{ product.description }}</span>
          </div>


          <div class="product-actions">
            <div class="product-price-block">
              <span class="text-size-heading">${{ product.price.current }}</span>

              @if (product.price.current != product.price.beforeDiscount) {
                <div>
                  <span class="text-300" style="text-decoration: line-through;">${{ product.price.beforeDiscount }}</span>
                  <span class="text-300 text-opacity">you save %{{ product.price.discountPercentage }}</span>
                </div>
              }

            </div>
            <div class="buttons">

              <div class="quantity-selector">
                <a class="button" href="javascript:void(0)" (click)="onClickDecrement()"><span>-</span></a>
                <input class="text-size-xlarge" type="number" [(ngModel)]="productQuantityToBuy">
                <a class="button" href="javascript:void(0)" (click)="onClickIncrement()"><span>+</span></a>
              </div>

              <div class="add-to-cart-button">
                <a class="button button-solid button-large button-product " href="javascript:void(0)">Add to cart</a>
              </div>

              <div class="buy-it-now-button">
                <a class="button button-regular button-large button-product " href="javascript:void(0)">Buy it now</a>
              </div>

            </div>
          </div>

        </div>

      </div>

    }

  </section>


  <app-info-cards></app-info-cards>

</main>

<app-footer></app-footer>
