<app-header></app-header>


<main>

  <section class="contact-us-container">

    <aside class="breadcrumb-container">
      <nav class="breadcrumb">
        <span>Home</span>
        <span>/</span>
        <span>Contact</span>
      </nav>
    </aside>

    <div class="section-heading">
      <h1 class="h2">Contact Us</h1>
    </div>

    <div class="contact-form">

      <div class="contact-form-the-form">
        <h3 class="h4">Drop us a line</h3>
        <form>
          <div>
            <label></label>
            <input class="field-input text-size-regular text-300" autocomplete="off" type="text" value="" placeholder="Name">
          </div>
          <div>
            <label></label>
            <input class="field-input text-size-regular" autocomplete="off" type="email" value="" placeholder="Email">
          </div>
          <div>
            <label></label>
            <input class="field-input text-size-regular" autocomplete="off" type="text" value="" placeholder="Subjet">
          </div>
          <div>
            <label></label>
            <input class="field-input text-size-regular" autocomplete="off" type="text" value="" placeholder="Phone number">
          </div>
          <div>
            <label></label>
            <textarea class="field-input text-size-regular" rows="7" type="text" value="" placeholder="Message"></textarea>
          </div>
          <div>
            <a class="button button-solid button-regular" href="#">Submit</a>
          </div>
        </form>
      </div>

      <div class="contact-form-info">
        <h3 class="h4">Mailing Address</h3>
        <div class="grey-border element-border-radius gutter-regular text-size-regular">
          <p class="text-size-regular">For any issues related to our products, please send us a mail at our
            warehouse and we will try to provide a solution.</p>
          <p class="text-size-regular">
            <strong>Warehouse<br></strong>
            Fond du Val 23<br>
            Maurecourt, France
          </p>
        </div>
      </div>

      <div class="contact-form-info">
        <h3 class="h4">Have a question?</h3>
        <div class="grey-border element-border-radius gutter-regular text-size-regular">
          <p>We've written some documentation to help you in purchasing from us.</p>
          <p>- <a class="link underlined-link" href="/pages/faq" title="Frequently asked questions">FAQ</a></p>
          <p>- <a class="link underlined-link" href="/pages/delivery" title="Shipping &amp; Delivery">Shipping</a> </p>
          <p>- <a class="link underlined-link" href="/pages/about-us" title="About Us">About</a></p>
          <p>- <a class="link underlined-link" href="/search" title="Search">Search</a></p>
        </div>
      </div>

    </div>

  </section>

</main>

<app-footer></app-footer>
