<app-header></app-header>

<main>

  <section class="slider">
    <img src="assets/img/slide1.webp" alt="">
    <div>
      <span>Only Non-GMO</span>
      <h3 class="h1">100% Organic</h3>
      <a href="" routerLink="/shop" class="button button-large button-solid">SHOP NOW</a>
    </div>
  </section>


  <section class="product-card-container">
    <aside>
      <h2 class="h4">Hot deals</h2>
      <a class="text-size-large link underlined-link" href="javascript:void(0)" routerLink="/shop">View all products</a>
    </aside>
    <div class="product-cards-list">

      @for (product of topDiscountedProducts; track product._id) {
        <app-product-card [product]="product"></app-product-card>
      }

    </div>
  </section>


  <section class="product-card-container">
    <aside>
      <h2 class="h4">Most popular</h2>
      <a class="text-size-large link underlined-link" href="javascript:void(0)" routerLink="/shop">View all products</a>
    </aside>
    <div class="product-cards-list">

      @for (product of highestRatedProducts; track product._id) {
        <app-product-card [product]="product"></app-product-card>
      }

    </div>
  </section>


  <app-info-cards></app-info-cards>


</main>

<app-footer></app-footer>
