<footer>
  <section class="footer-top" id="footer-top">
    <div>
      <h4 class="h4">LOCAL</h4>
      <p class="text-size-regular">
        Fresh products from local <br> producers, delivered directly to <br> your front door, daily.
      </p>
    </div>
    <div>
      <h4 class="h5">Popular categories</h4>
      <a href="" class="footer-link">Bread & Bakery</a>
      <a href="" class="footer-link">Dairy & Eggs</a>
      <a href="" class="footer-link">Fresh Meals & Pizzas</a>
      <a href="" class="footer-link">Fruits & Vegetables</a>
      <a href="" class="footer-link">Kitchen Appliances</a>
    </div>
    <div>
      <h4 class="h5">Main Store</h4>
      <p class="text-size-regular">
        13 Champs-Élysées
        <br>
        75008 Paris
        <br>
        France
      </p>
    </div>
    <div>
      <h4 class="h5">Quick links</h4>
      <a href="" class="footer-link">Search</a>
      <a href="" class="footer-link">About Us</a>
      <a href="" class="footer-link">Delivery</a>
      <a href="" class="footer-link">Our stores</a>
    </div>
  </section>

  <section style="width: 100%; border-bottom: 1px solid #e7e5e4"></section>

  <section class="footer-bottom" id="footer-bottom">
    <div>
      <span class="text-size-normal">Copyright © 2024</span>
      <a href="" class="footer-link">Local Theme Light Demo.Powered by Shopify</a>
    </div>
    <a href="" class="link text-300">English</a>
  </section>
</footer>
